{% extends "layout.html" %}
{% block title %}Priser{% endblock %}
{% block content %}
<div class="container">
    <h2 id="about" class="fs-1 p-5 text-center" style="color: white;">Prisinformation</h2>
    <div class="row">
        <div class="col-6">
            <div class="bg-secondary text-white p-5 mb-5 mt-5">
                <h2>Vuxen biljett</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, debitis aliquam? Itaque voluptate hic ipsam quam doloremque earum unde, nihil nisi, beatae nam suscipit sint! Molestiae deserunt id necessitatibus soluta illum repellendus perferendis ea laudantium, quidem nemo tenetur mollitia provident iusto inventore incidunt quaerat maxime libero commodi rem exercitationem optio.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-dark-subtle text-black p-5 mb-5 mt-5">
                <h2>Reducerad biljett</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, debitis aliquam? Itaque voluptate hic ipsam quam doloremque earum unde, nihil nisi, beatae nam suscipit sint! Molestiae deserunt id necessitatibus soluta illum repellendus perferendis ea laudantium, quidem nemo tenetur mollitia provident iusto inventore incidunt quaerat maxime libero commodi rem exercitationem optio.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-dark-subtle text-black p-5 mb-5 mt-5">
                <h2>Plats</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, debitis aliquam? Itaque voluptate hic ipsam quam doloremque earum unde, nihil nisi, beatae nam suscipit sint! Molestiae deserunt id necessitatibus soluta illum repellendus perferendis ea laudantium, quidem nemo tenetur mollitia provident iusto inventore incidunt quaerat maxime libero commodi rem exercitationem optio.</p>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-secondary text-white p-5 mb-5 mt-5">
                <h2>Event</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, debitis aliquam? Itaque voluptate hic ipsam quam doloremque earum unde, nihil nisi, beatae nam suscipit sint! Molestiae deserunt id necessitatibus soluta illum repellendus perferendis ea laudantium, quidem nemo tenetur mollitia provident iusto inventore incidunt quaerat maxime libero commodi rem exercitationem optio.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}