{% extends "layout.html" %}
{% block title %}Trafikläge{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center" style="color: white; margin-top: 20px;">
            <h1>Trafikläge</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="bg-secondary text-white p-5 mb-5 mt-5">
        <div class="col" style="color: white;">
            <ul>
                {% if traffic_data and traffic_data.ResponseData %}
                {% for traffic_type in traffic_data.ResponseData.TrafficTypes %}
                <li>
                    <h5>{{ traffic_type.Name }}</h5>
                    <ul>
                        {% for event in traffic_type.Events %}
                        <li>
                            {{ event.Message | safe }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% else %}
                <li>Ingen trafikinformation tillgänglig.</li>
                {% endif %}
            </ul>
        </div>
        </div>
    </div>
</div>
{% endblock %}